<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomStandardColumnNames" type="Serilog.Configuration.MSSqlServerConfigurationSection, Serilog.Sinks.MSSqlServer"/>
    <section name="CustomizedColumnList" type="Serilog.Configuration.MSSqlServerConfigurationSection, Serilog.Sinks.MSSqlServer"/>
    <section name="SinkOptionsConfig" type="Serilog.Configuration.MSSqlServerConfigurationSection, Serilog.Sinks.MSSqlServer"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <add name="NamedConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=LogTest;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <CustomStandardColumnNames>
    <Exception ColumnName="CustomException"/>
    <Level ColumnName="CustomLevel"/>
    <Message ColumnName="CustomMessage"/>
    <MessageTemplate ColumnName="CustomMessageTemplate"/>
    <Properties ColumnName="CustomProperties"/>
    <TimeStamp ColumnName="CustomTimeStamp"/>
  </CustomStandardColumnNames>

  <CustomizedColumnList>
    <AddStandardColumns>
      <add Name="LogEvent"/>
    </AddStandardColumns>
    <Columns>
      <add ColumnName="CustomColumn"/>
    </Columns>
  </CustomizedColumnList>

  <SinkOptionsConfig>
    <TableName Value="LogEvents" />
    <AutoCreateSqlTable Value="true" />
    <BatchPostingLimit Value="13" />
    <BatchPeriod Value="00:00:15" />
  </SinkOptionsConfig>

</configuration>
