<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Serilog" version="2.5.0" targetFramework="net452" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.3.0" targetFramework="net452" />
  <package id="System.Data.SqlClient" Version="4.6.0" targetFramework="net452" />
</packages>
