name: Release

on:
  push:
    branches: [ dev, master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  Build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Run build
        run: ./Build.ps1 -SkipTests $true

      - name: Read version from csproj
        run: |
          $selectResult = Select-String -Path ".\src\Serilog.Sinks.MSSqlServer\Serilog.Sinks.MSSqlServer.csproj" -Pattern '<VersionPrefix>(.+)</VersionPrefix>'
          $versionMatch = $selectResult.Matches[0].Groups[1].Value
          echo ("VERSION=" + $versionMatch) >> $env:GITHUB_ENV
          echo "Found version $versionMatch"

      - name: Create GitHub releease
        if: ${{ github.ref_name == 'master' }}
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "v${{ env.VERSION }}"
          title: "v${{ env.VERSION }}"
          files: |
            artifacts/*.nupkg
            artifacts/*.snupkg
            
      - name: Publish to nuget.org
        env:
          NUGET_API_KEY: ${{ secrets.GITHUB_TOKEN }}
        run: nuget push artifacts\*.nupkg -Source 'https://api.nuget.org/v3/index.json' -ApiKey $NUGET_API_KEY
